
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<h1>Questions</h1>
<%= link_to 'new', new_question_path %>
<table class = "table table-striped table-sm">
  <tr>
    <th scope="row">ID</th>
    <th scope="row">Title</th>
    <th scope="row">Name</th>
    <th scope="row">Content</th>
    <th scope="row">old</th>
  </tr>
  <% @questions.each do |question|%>
    <tr>
      <td><%=question.id%></td>
      <td><%=question.title%></td>
      <td><%=question.name%></td>
      <td><%=question.content%></td>
      <td><%=question.old %></td>
      <td ><%= link_to 'show', question_path(question), class: 'btn btn-primary' %></td>
      <td><%= link_to 'edit', edit_question_path(question), class: 'btn btn-primary' %></td>
      <td><%= link_to 'destroy', question_path(question), data: {turbo_method: 'delete', turbo_confirm: 'Are You Sure?' }, class: 'btn btn-primary'%></td>
    </tr>
  <%end%>
</table>
