<h1>answer_edit</h1>

<%= form_with model: [@question, @question.answers.build] do |form| %>
    <div>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </div>
    
    <div>
        <%= form.label :content %><br>
        <%= form.text_field :content %>
    </div>
    
    <div>
        <%= form.submit %>
    </div>
<% end %>